<!-- sidebar.html -->
<div class="sidebar">
    <ul class="list-group">
        <li class="list-group-item"><a href="#">Inicio</a></li>
        <li class="list-group-item"><a href="#">Lista de Productos</a></li>
        <li class="list-group-item"><a href="#">Agregar Producto</a></li>
        <li class="list-group-item"><a href="#">Categorías</a></li>
        <li class="list-group-item"><a href="#">Inventarios</a></li>
        <li class="list-group-item"><a href="#">Reportes</a></li>
    </ul>
</div>
